:root {
    --md-primary-fg-color: #00A6D6;
    --md-primary-bg-color: #FFFFFF;
    --md-accent-fg-color: #00A6D6;
    --md-typeset-a-color: #00A6D6;
  }

[data-md-color-scheme="default"] {
    --md-default-bg-color: #F7F7F7;
    --md-code-bg-color: #EEEEEE;
} 

.highlight {
  color: #00A6D6;
}

a {
  transition: 0.2s !important;
}

a:not(.md-nav__link) {
  font-style: italic;
}

a:hover {
  opacity: 0.6;
}

code {
  margin: 20px 0 !important;
  background-color: rgb(240, 240, 240) !important;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1) !important;
}